# Git files
.git
.gitignore

# Node dependencies
node_modules
*/node_modules
apps/*/node_modules
packages/*/node_modules

# Build artifacts and caches
coverage

# Build output
.next
apps/*/.next

# Docker files
Dockerfile
docker-compose.yml

# IDE and OS files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.DS_Store